html,
body {
  height: 100%;
  width: 100%;
  background-repeat: repeat-y;
  background-image: url(../original.gif);
}

h1 {
  text-align: center;
}
p {
  color: rgb(0, 102, 0);
  font-family: "Lucida Console", Courier, monospace;
  font-size: 150%;
  text-align: center;
  border: 4px solid rgb(0, 77, 0);
  padding: 10px;
}
.heading-center {
  margin: auto;
  margin-bottom: 10px;
  color: rgb(0, 102, 0);
  width: 70%;
  height: 10%;
  opacity: 0.8;
  font-weight: bolder;
  background-color: rgb(179, 255, 179);
  font-family: "Lucida Console", Courier, monospace;
  border: 4px solid rgb(0, 77, 0);
  padding: 10px;
  /* font-family:"Euclid Fraktur", "Old English Text MT", fantasy, serif; */
}

.center {
  margin: auto;
  align-content: center;
  width: 65%;
  color: rgb(0, 102, 0);
  background-color: rgb(179, 255, 179);
  border: 5px solid #070707;
  padding: 10px;
  overflow: hidden;
  font-weight: bolder;
  font-family: "Lucida Console", Courier, monospace;
}
.back-ground {
  height: 100%;
  width: 100%;
  /* //background-size: cover; */
}
.iframe-class {
  height: 300px;
  width: 100%;
  overflow: hidden;
  align-content: center;
  text-align: center;
  background-color: rgb(230, 255, 238);
  display: none;
}
.button {
  display: inline-block;
  color: white;
  position: absolute;
  right: 20%;
  border-radius: 5px;
  /* background-color: rgb(230, 255, 238); */
  background-image: url(../original.gif);
  border: none;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 15px;
  font-weight: bolder;
  padding: 1px;
  width: 150px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
